@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", "Inter", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  background: var(--bg-main);
  color: var(--text-main);
  line-height: 1.6;
  transition: background 0.3s ease, color 0.3s ease;
}

/* =========================
   TYPOGRAPHY
========================= */
h1,
h2,
h3 {
  font-weight: 700;
  letter-spacing: -0.5px;
}

p {
  color: var(--text-muted);
}



body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}